<!-- BEGIN: main -->
<div id="sub_titulo">Página en Construcción...</div>
<br><div align="center"><img src="../../../{APPORG}/img/construction.gif" border="0" style="opacity: 0.5;"></div><br>
{BUTTONS_PANEL}
<!-- END: main -->
