<!-- BEGIN: main -->
<div align="center">
    <div id="sub_titulo">Para entrar a la Aplicación debe Actualizar el Navegador...</div>
    <table width="50%" height="50%">                    
        <tr>
            <td align="center">
                <a HREF="http://www.mozilla.com/firefox" title='Firefox-Moxila'>
                <img src="../../../{APPORG}/img/firefox.png" border="0" style="opacity: 0.5;"></a>
            </td>
            <td align="center">
                <a HREF="http://www.microsoft.com/es-es/download/internet-explorer-9-details.aspx" title='Internet Explorer'>
                <img src="../../../{APPORG}/img/ie.png" border="0" style="opacity: 0.5;"></a>
            </td>
        </tr>
        <tr>
            <td align="center"><a HREF="http://www.opera.com/es-419/" title='Opera'>
                <img src="../../../{APPORG}/img/opera.png" border="0" style="opacity: 0.5;"></a>
            </td>
            <td align="center"><a HREF="https://www.google.com/intl/es/chrome/browser/" title='Chrome'>
                <img src="../../../{APPORG}/img/chrome.png" border="0" style="opacity: 0.5;"></a> 
            </td>
        </tr>
    </table>       
</div>
<!-- END: main -->
