<!-- BEGIN: main -->
<div id='sub_titulo'>Agregar Usuario Web</div>
<form name="reg" method="POST" > 
    <input type="hidden" name="controlPasswd" id="id_controlPasswd" value="0">
    <div align="center" id="id_panel_registrar_usuario">
        <table class="tabla_grid" style="width: 600px;">
            <thead>
                <tr>
                    <th colspan="3">Registro de Usuario Web</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>N° de C.I.:</td>
                    <td>
                        <select id="id_nacionalidad" 
                                name="nacionalidad" 
                                onchange="val_pasaporte();" 
                                class=comboBoxNacionalidad 
                                style="width: 100%; text-align: center;">
                            <option value="V" selected>V</option>
                            <option value="E">E</option>
                            <!--option value="P">P</option-->
                        </select>
                    </td>
                    <td>  
                        <input id="id_cedula" 
                               name="cedula" 
                               type="text"  
                               maxlength="8"
                               data-constraints='number'
                               data-validation='integer'
                               style="width: 97%"                                                
                               onchange ="sendCedula(nacionalidad.value, this.value);" 
                               autocomplete="off"/>
                    </td>
                </tr>
                <tr>
                    <td>Nombre(s):</td>
                    <td colspan="2">
                        <input id="id_nombres" 
                               name="nombres" 
                               type="text"  
                               maxlength="25" 
                               data-format='uppercase'
                               data-constraints='fullname'
                               data-validation='required'
                               style="width: 98%" 
                               readonly
                               autocomplete="off"/>
                    </td>
                </tr>
                <tr>
                    <td>Apellido(s):</td>
                    <td colspan="2">
                        <input id="id_apellidos" 
                               name="apellidos" 
                               type="text" 
                               maxlength="25" 
                               data-format='uppercase'
                               data-constraints='fullname'
                               data-validation='required'
                               style="width: 98%" 
                               readonly                                                 
                               autocomplete="off">
                    </td>
                </tr>
                <tr>
                    <td>Correo electrónico:</td>
                    <td colspan="2">
                        <input id="id_correo" 
                               name="correo" 
                               type="email" 
                               maxlength="100" 
                               data-format='lowercase'
                               data-constraints='email'
                               data-validation='email'
                               title="Indique su correo electrónico" 
                               style="width: 98%" 
                               autocomplete="off">
                    </td>
                </tr>
                <tr>
                    <td style="width:35%;">Celular:</td>
                    <td style="width:20%;">
                        <input type="hidden" 
                               name="id_celular_cod" 
                               id="id_celular_cod"  
                               value="">
                        <input type="text" 
                               name="celular_cod" 
                               id="celular_cod" 
                               value=""
                               style="width:98%;text-align:center;"
                               onclick="pickOpen('celular_cod', 
                               'id_celular_cod', '../../../{APPORG}/pickList/control/tel_cod_area_cel/', 15, 25, 400, 100, 'si');" 
                               readonly                                               
                               placeholder="CODIGO"
                               data-constraints='number'
                               data-validation='required'> 
                    </td>
                    <td style="width:80%;">
                        <input id="id_celular" 
                               name="celular" 
                               type="text" 
                               value="" 
                               maxlength="7" 
                               autocomplete="off"
                               title="Indique su Numero de celular"                                               
                               style="width:97%" 
                               data-constraints='number'
                               data-validation='required'>
                    </td>
                </tr>
                <tr>
                    <td>Telefono local:</td>
                    <td style="width:20%;">
                        <input type="hidden" 
                               name="id_local_cod" 
                               id="id_local_cod"  
                               value="">
                        <input type="text" 
                               name="local_cod" 
                               id="local_cod" 
                               value=""
                               style="width:98%;text-align:center;"
                               onclick="pickOpen('local_cod', 
                               'id_local_cod', '../../../{APPORG}/pickList/control/tel_cod_area_nac/', 15, 25, 400, 100, 'si');" 
                               readonly
                               placeholder="CODIGO"
                               data-constraints='number'
                               data-validation='required'> 
                    </td>
                    <td style="width:80%;">
                        <input id="id_telefono1" 
                               name="telefono1" 
                               type="text" 
                               value="" 
                               maxlength="7" 
                               title="Indique su número de telefono local"                                                
                               style="width:97%" 
                               autocomplete="off"
                               data-constraints='number'
                               data-validation='required'>
                    </td>           
                </tr>
                <tr>
                    <td>Otro Telefono:</td>
                    <td style="width:20%;">
                        <input type="hidden" 
                               name="id_local_cod2"
                               id="id_local_cod2"
                               value="">
                        <input type="text" 
                               name="local_cod2"
                               id="local_cod2"
                               value=""
                               style="width:98%;text-align:center;"
                               onclick="pickOpen('local_cod2', 
                               'id_local_cod2', '../../../{APPORG}/pickList/control/tel_cod_area_nac/', 15, 25, 400, 100, 'si');" 
                               readonly
                               placeholder="CODIGO"> 
                    </td>
                    <td style="width:80%;">
                        <input id="id_telefono2" 
                               name="telefono2" 
                               type="text" 
                               value="" 
                               maxlength="7" 
                               title="Indique su numero de telefono local" 
                               data-constraints='number'
                               autocomplete="off"
                               style="width:97%">
                    </td>
                </tr>
                <tr>
                    <td>Nombre de Usuario:</td>
                    <td colspan="2">
                        <input id="id_usuario" 
                               name="usuario" 
                               type="text" 
                               maxlength="25" 
                               data-format='lowercase'
                               data-constraints='username'
                               data-validation='required'
                               title="Indique un nombre de usuario para ingresar a la aplicacion" 
                               style="width: 98%" 
                               onkeyup="send_usuario(this.value);"  
                               autocomplete="off">
                        <div id="div_usuario" align="center" class='alerta_mensajes'></div>    
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    {BUTTONS_PANEL}
</form>
<div  id='id_fondo_opaco'  class="fondo_opaco" style="display:none"></div>
<!-- END: main -->
