<!-- BEGIN: main -->
<div id="sub_titulo">Lista de Mensajes para la Aplicación<br>({MYAPP})</div>
<div id="addReg" align="right">
    <a href="#">
        <IMG src="../../../{APPORG}/img/addnew.gif" border="0" title=" Nuevo Banco" style='cursor:pointer;'>
    </a>		
</div>
<table id="tablaRows" class="display" >
    <thead>	
    <tr>
        <TH>Id</TH><TH>Mensajes</TH><TH>Acción(es)</TH>
    </tr>
    </thead>
    <tbody>
    <!--BEGIN: ciclo_msj --> 
    <tr>
        <TD align="center" style="width: 5%;">{ID_ROW}</TD>
        <TD style="width: 80%;">{DESCRIPCION}</TD>				
        <TD align="center" style="width: 15%;">
            <a onclick="submitEdit({ID_ROW});">
            <IMG src="../../../{APPORG}/img/editar.png" 
                                         border="0" title="Editar" style='cursor:pointer;'>
            </a>
            <a onclick="submitDelete({ID_ROW});">
            <IMG src="../../../{APPORG}/img/cross.png" 
                                         border="0" title="Eliminar" style='cursor:pointer;'>
            </a>
         </TD>
       </tr>
      <!--END: ciclo_msj --> 
    </tbody>
</table>
<!-- END: main -->
