<!-- BEGIN: main -->
<div id="sub_titulo">Su sesión ha expirado...</div>
<div style="margin:0 auto 0 auto; width:10%;text-align:center;height:10%">
    <div style="width:120px;height:100px;position:relative;left:58px;top:50px;">
        <div id="dig1" class="dig">1</div>
        <div id="dig2" class="dig">2</div>
        <div id="dig3" class="dig">3</div>
        <div id="dig4" class="dig">4</div>
        <div id="dig5" class="dig">5</div>
        <div id="dig6" class="dig">6</div>
        <div id="dig7" class="dig">7</div>
        <div id="dig8" class="dig">8</div>
        <div id="dig9" class="dig">9</div>
        <div id="dig10" class="dig">10</div>
        <div id="dig11" class="dig">11</div>
        <div id="dig12" class="dig">12</div>			
        <div id="hour1" class="hour"></div>
        <div id="hour2" class="hour"></div>
        <div id="hour3" class="hour"></div>
        <div id="hour4" class="hour"></div>
        <div id="hour5" class="hour"></div>
        <div id="min1" class="min"></div>
        <div id="min2" class="min"></div>
        <div id="min3" class="min"></div>
        <div id="min4" class="min"></div>
        <div id="min5" class="min"></div>
        <div id="min6" class="min"></div>			
        <div id="sec1" class="sec"></div>
        <div id="sec2" class="sec"></div>
        <div id="sec3" class="sec"></div>
        <div id="sec4" class="sec"></div>
        <div id="sec5" class="sec"></div>
        <div id="sec6" class="sec"></div>
        <div id="sec7" class="sec"></div>
    </div>
</div>
<!-- END: main -->
