<!-- BEGIN: main -->
<br><br><br><br>
<form action="" name="form">
    <div class='ventana_modal_msj'>
        <table class="tabla_grid" align='center'>
            <th align='center'>{TITLE}</th>
            <!-- BEGIN: row -->
            <tr class={CLASS_TR}>
                <td align='center'>{MSG}</td>
            </tr>
            <!-- END: row -->
        </table>
        <div align="center">
            <table class="botonera">
	        <tr>
	            <td>  
                        <button id="id_continuar" type=button onClick="goToPag('{NUM_PAG}');">
                            <img class="accion" src="{PATH}/{APPORG}/img/abrir.png" align='absmiddle' border="0" >&nbsp;Continuar
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>     
</form>
<div class='fondo_opaco_msj'></div>  
<!-- END: main -->
