<!-- BEGIN: main -->
<div class="flex" >

    <div id="div_left" style="background-image: url(../../../{MYAPP0}/img/fondo.png);"></div>

    <div id='div_right'>

        <form name="reg"  method="POST">

            <input name="usuario" id="id_usuario" type="hidden" />

            <div id='sub_titulo'>Iniciar Sesi&oacute;n</div>

            <div class=divGroupField id="id_login_type" style="display:none;">
                <div class="form-wrapper">
                    <select name="opcion" id="id_opcion"  onchange="loginOptOnOff();" class="comboBox">
                        <option value=0 selected>Seleccione...</option>
                        <option value=1>rif</option>
                        <option value=2>cédula</option>
                        <option value=3>correo</option>
                        <option value=4>usuario</option>
                    </select>                                        
                </div>
            </div>                        

            <div style="clear: left;"></div>

            <div id="div_login" style="display:none;">
                <div class="divGroupField" id="div_rif">
                    <div class="form-wrapper">
                        <div class='full-input' align="left">
                            <label for='name'>rif</label>
                            <div style="float: left;">
                                <select name="rif1" 
                                        id="id_rif1" 
                                        class="comboBoxNacionalidad">
                                    <option value="J">J</option>
                                    <option value="G">G</option>
                                    <option value="V">V</option>
                                </select>
                            </div>

                            <div style="float: right;">

                                <table>
                                    <tr>
                                        <td align="right">
                                            <input type="text"  
                                                   size="10" 
                                                   maxlength="8" 
                                                   name="rif2" 
                                                   id="id_rif2"
                                                   autocomplete="off" 
                                                   placeholder="########">
                                        </td>
                                        <td align="left">-</td>
                                        <td>
                                            <input type="text"  
                                                   size="1"  
                                                   maxlength="1" 
                                                   name="rif3" 
                                                   id="id_rif3"
                                                   autocomplete="off"
                                                   placeholder="#">
                                        </td>
                                    </tr>
                                </table>
                            </div>                      
                        </div>
                    </div>
                </div>
               
                <div style="clear: left;"></div>

                <div class=divGroupField id="div_ced">
                    <div class="form-wrapper">
                        <div class='full-input' align="left">
                            <label for='name'>cédula</label>
                            <div style="float: left;">
                                <select name="nacionalidad" 
                                        id="id_nacionalidad" 
                                        class="comboBoxNacionalidad">
                                    <option value="V">V</option>
                                    <option value="P">P</option>
                                </select>
                            </div>

                            <div style="float: right;">
                                <input style="width: 100%;" 
                                       type="text" 
                                       maxlength="8" 
                                       name="cedula" 
                                       size="15%"
                                       id="id_cedula" 
                                       placeholder="########"
                                       autocomplete="off"/>
                            </div>                        
                        </div>
                    </div>
                </div>

                <div style="clear: left;"></div>

                <div class=divGroupField id="div_mail">
                    <div class="form-wrapper">
                        <div class='full-input'>
                            <label for='name'>correo</label>
                            <input style="width: 100%;" 
                                   type="text" 
                                   maxlength="30" 
                                   name="correo" 
                                   id="id_correo"
                                   placeholder="email@dominio.ext"
                                   autocomplete="off"/>                        
                        </div>
                    </div>
                </div>

                <div style="clear: left;"></div>

                <div class=divGroupField id="div_user_name">
                    <div class="form-wrapper">
                        <div class='full-input'>
                            <label for='name'>usuario</label>
                            <input style="width: 100%;" 
                                   type="text"  
                                   maxlength="20" 
                                   name="user" 
                                   id="id_user" 
                                   placeholder=""
                                   autocomplete="off" />
                        </div>
                    </div>
                </div>

                <div style="clear: left;"></div>
            
                <div class=divGroupField align="center">
                    <div class="form-wrapper">
                        <div class='full-input'>
                            <label for='name'>contraseña</label>
                            <input style="width: 100%;" 
                                   type="password" 
                                   maxlength="50" 
                                   name="clave" 
                                   id="id_clave" 
                                   autocomplete="off"                                
                                   onkeypress="accesoEnter(this.value,event);"/> 
                        </div>
                    </div>
                    <div class="alerta_mensajes" id='id_msj_error' align ='left' style="font-weight:normal;">{MENSAJE}</div>    
                </div>

                <div style="clear: left;"></div>                         

                <div id="id_div_captcha">                  

                    <div class=divGroupField style="width:40%">
                        <table align="center">
                            <tr>
                                <td colspan="2" align="left" style="font-size:1vw;">introduzca el c&oacute;digo</td>
                            </tr>
                            <tr>
                                <td><div id="txtCaptcha"></div></td>
                                <td>
                                    <img src="../../../../../{APPORG}/img/refresh.png" 
                                         id="btnrefresh"      
                                         onclick="drawCaptcha();document.getElementById('txtInput').value='';" 
                                         title="Refrescar"
                                         style="cursor: pointer;height:100%;width:100%;">                               
                                </td>
                            </tr>
                        </table>               
                    </div>

                    <div style="clear: left;"></div>    

                    <div class=divGroupField id="div_user_name" align="center">
                        <div class="form-wrapper">
                            <div class='full-input'>
                                <label for='name'>en este campo:</label>
                                <input type="text" id="txtInput" style="width: 100%;" autocomplete="off">                         
                            </div>
                        </div>
                        <div class="alerta_mensajes" id='id_msj_error_captcha' align ='left' style="font-weight:normal;"></div>
                    </div>

                    <div style="clear: left;"></div>

                </div>
                      
                <div>
                    <button type=button id="id_button_add" onclick="validarForm();"> Ingresar
                        <img class="accion" 
                             style="height:10%;width:20%;-webkit-filter: invert(100%); filter: invert(100%);"
                             id="id_img_add" 
                             src="../../../../../{APPORG}/img/abrir.png" 
                             align='absmiddle' 
                             border="0" > 
                    </button> 
                </div>

            </div>

            <hr id='separation_line' width='90%'>

            <div id="webUserRow" align="center"><br>
                <div id="id_register" style='display:none;'>
                    <a href='../admin_usuario_row_web/'>Registrarse</a>
                </div>
                <div id="id_recover_password" style='display:none;'>
                    <a href='../admin_recover_password/'>Recuperar Clave</a>
                </div>
            </div>

        </form>

    </div>

</div>

<div id="id_contact">
    <table id="id_contact_table" width="75%" align="center">
        <tr>
            <td align="right" width="10%">
                <img src="../../../../../{APPORG}/img/mail.png" width='30%'>
            </td>
            <td id='id_email' class='titulo_contacto' style="color:#fff;" align="left"></td>
            <td align="right" width="5%">
                <img src="../../../../../{APPORG}/img/telefono.png" width='50%'>
            </td>
            <td id='id_telefon' class='titulo_contacto' style="color:#fff;" align="center"></td>
            <td align="right" width="20%">
                <img id='id_document' src="../../../../../{APPORG}/img/documents.png" width='10%'>
            </td>
            <td class='titulo_contacto' style="color:#fff;" align="left"><a>Documentación</a></td>
        </tr>
   </table>
</div>
<!-- END: main -->
