<!-- BEGIN: main -->
<h2><span>Usuario</span></h2>
<div style="overflow:auto; background: #D8D8D8;">
    <table style="margin-top:5%; margin-left:10%;">
        <tr>
            <th>Filtrar...</th>
        </tr>
        <tr>
            <td align="center" >
                <table id="rif" style="width: 100%;">
                    <tr>
                        <td>Usuario:</td>
                        <td>
                            <input id="id_usuario"
                                   type="text"
                                   name="usuario"
                                   style="width: 100%; text-transform: uppercase;"
                                   autocomplete="off"
                                   onkeyup="javascript:this.value = this.value.toUpperCase();">
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
<!-- END: main -->
