<!-- BEGIN: main -->
<h2><span>Perfil</span></h2>
<div style="overflow:auto; background: #D8D8D8;">
    <table style="margin-top:5%; margin-left:10%;">
        <tr>
            <th>Filtrar...</th>
        </tr>
        <tr>
            <td>Perfil</td>
            <td align="left" ><br/>
                <table style="width: 100%">
                    <tr>
                        <td align="center">
                            <select id="id_roles"
                                    name="roles"
                                    multiple size="10"
                                    onDblClick="move('right', this, document.forms[0].roles_selected);
                                                getValues(document.forms[0].roles_selected, document.forms[0].filtro_roles_arreglo);">
                                <!-- BEGIN: roles-->
                                <option value="{ID_ROL}">{DES_ROL}</option>
                                <!-- END: roles-->
                            </select>
                        </td>
                        <td align="center">
                            <input type="button"
                                   value=">>"
                                   onclick="move('right', document.forms[0].roles, document.forms[0].roles_selected);
                                            getValues(document.forms[0].roles_selected, document.forms[0].filtro_roles_arreglo);"><br>
                            <input  type="button"
                                    value="<<"
                                    onclick="move('left', document.forms[0].roles, document.forms[0].roles_selected);
                                             getValues(document.forms[0].roles_selected, document.forms[0].filtro_roles_arreglo);">
                        </td>
                        <td align="center">
                            <select id="id_roles_selected"
                                    name="roles_selected"
                                    multiple size="10"
                                    onDblClick="move('left', document.forms[0].roles, this);
                                                getValues(this, document.forms[0].filtro_roles_arreglo);">
                            </select>
                            <input  id="filtro_roles_arreglo" name="filtro_roles_arreglo" type="hidden">
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
<!-- END: main -->
