<!-- BEGIN: main -->
<script src="../../../../../{FDSOIL}/packs/jquery/liteaccordion.jquery.js"></script>
<div id='sub_titulo'>Actualización de Usuarios</div>
<form id="id_form">
    <div id="id_div_panel">
        <div id="two" style="margin-left: 1%;">
            <ol>
                <li>{SOLAPA_0}</li>
                <li>{SOLAPA_1}</li>
                <li>{SOLAPA_2}</li>
                <li>{SOLAPA_3}</li>
                <li>{SOLAPA_4}</li>
                <li>{SOLAPA_5}</li>
                <li>{SOLAPA_6}</li>
            </ol>
        </div>
    </div>
</form>
<div id="id_div_resultado" style="display:none">
    <!--div id="sub_titulo">Lista de Usuarios</div-->
    <!--div id="id_wait">Cargando...<IMG src='../../../{APPORG}/img/loading.gif' border='0'></div-->
    {BUTTON_ADD}
    <table id="tablaRows" class="display" style="display:none">
        <thead title="Sort...">
            <tr>
                <th>Cédula</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Usuario</th>
                <th>Correo</th>
                <th>Perfil</th>
                <th>Status</th>
                <th width="15%">Acción(es)</th>
            </tr>
        </thead>
        <tbody>
            <!-- BEGIN: rows -->
            <tr>
                <td>{CEDULA_LIST}</td>
                <td>{NOMBRE}</td>
                <td>{APELLIDO}</td>
                <td>{USUARIO}</td>
                <td>{CORREO}</td>
                <td>{PERFIL}</td>
                <td align="center">{STATUS}</td>
                <td align="center">
                    {BUTTON_EDIT}
                    <a onclick="submitKeyReset({ID_USUARIO}, '{CEDULA_LIST}');">
                        <img class="accion" src="../../../{APPORG}/img/llave.png" border="0" title="Reset Clave" style='cursor:pointer;'>
                    </a>
                    <a onclick="DDDDsubmitDelete({ID_USUARIO});" style="display:none;">
                        <img class="accion" src="../../../{APPORG}/img/unlock.png" border="0" title="Bloquear" style='cursor:pointer;'>
                    </a>
                    {BUTTON_DELETE}
                </td>
            </tr>
            <!-- END: rows -->
        </tbody>
    </table>
</div>
{BUTTONS_PANEL}
<script>
    // scripts hAccordion /  documentacion:   http://stitchui.com/liteaccordion/
    (function ($, d) { // please don't copy and paste this page it breaks my analytics!
        $('#one').liteAccordion({
            onTriggerSlide: function () {
            this.find('figcaption').fadeOut();
            },
            onSlideAnimComplete: function () {
                this.find('figcaption').fadeIn();
            },
            autoPlay: true,
            pauseOnHover: true,
            theme: 'stitch',
            rounded: true,
            enumerateSlides: true
        }).find('figcaption:first').show();

        $('#two').liteAccordion({containerWidth: 1160, activateOn: 'click', slideSpeed: 500});

    })(jQuery, document);
</script>
<!-- fin scripst haccordion -->
<!-- END: main -->
