<!-- BEGIN: main -->
<div id='sub_titulo'>Recuperar Clave Acceso del Sistema</div>
<form action="../admin_recover_password/recover/" name="form" id="form1" method="POST">   
    <div id="interfaz_1">
        <div class=divGroupField align='center'>
            <table class="tabla_grid" id="tabla" border=0>
                <tr>
                    <th colspan=4>Ingrese los Siguientes Datos:</th>
                </tr>		
                <tr>
                    <td colspan=1 class="colum"><div class="divTitleField">Cedula:</div></td>
                    <td colspan=1 style="width: 50px;">
                        <select name="inicial" 
                                id="id_inicial" 
                                class="comboBoxNacionalidad" 
                                style="height: 30px; width: 50px;">
                            <option value="V">V</option>
                            <option value="E">E</option>
                        </select>
                    </td>
                    <td colspan="2" style="width: 300px;">
                        <input id="id_cedula" 
                               name="cedula"
                               type="text"
                               class="campos_recuperar_clave"
                               onKeyPress="return entero(event);"
                               maxlength="8" 
                               autocomplete="off">
                    </td>
                </tr>
                <tr>
                    <td colspan=1 class="colum">
                        <div class="divTitleField">Correo:</div>
                    </td>
                    <td colspan=3 class="row">
                        <input id="id_correo" 
                               name="correo"
                               type="text"
                               class="campos_recuperar_clave"
                               onBlur="val_email(this);"
                               maxlength="50" 
                               autocomplete="off">                  
                    </td>
                </tr>
            </table> 
        </div>        
        <div class="botonera">
            <input id=id_regresar type=button value='Regresar' onClick="history.back(-1);">
            <input id=id_validar  type=button value='Aceptar' onClick="javascript: send_pregunta();">
        </div>
    </div>
    <div id="interfaz_2" style="display: none">
        <div class=divGroupField align='center'>
            <table class="tabla_grid" id="tabla" border=0>
                <tr>
                    <th colspan=4>Responda la pregunta Secreta:</th>
                </tr>		
                <tr>
                    <td colspan=1 class="colum">
                        <div class="divTitleField">Pregunta:</div>
                    </td>
                    <td colspan=3 class="row">
                        <input id="id_pregunta" 
                               name="pregunta"
                               type="text"
                               class="campos_recuperar_clave"
                               maxlength="50" 
                               autocomplete="off">                  
                    </td>
                </tr>
                <tr>
                    <td colspan=1 class="colum">
                        <div class="divTitleField">Respuesta:</div>
                    </td>
                    <td colspan=3 class="row">
                        <input id="id_respuesta" 
                               name="respuesta"
                               type="text"
                               class="campos_recuperar_clave" 
                               maxlength="50" 
                               autocomplete="off"
                               onKeyUp="javascript:this.value=this.value.toUpperCase();">                  
                    </td>
                </tr>
            </table> 
        </div>        
        <div class="botonera">
            <input id=id_regresar type=button value='Regresar' onClick="javascript:location.reload(true);">
            <input id=id_recuperar  type='button' value='Aceptar' onclick="javascript:validar_formulario();">
        </div>
    </div>
</form>  
<!-- END: main -->
