<!-- BEGIN: main -->
<div id="addReg" style="float: left;{DISPLAY}">    
    <button type=button  onClick="submitInsert({ID});">
        <img class="accion" src="../../../{APPORG}/img/add.png" align='absmiddle' border="0" > Agregar {NAME_OF_RECORD}
    </button>
</div>
<!-- END: main -->
